.contact, .phone {
    border: solid 1px red;
    padding: 5px;
    margin: 5px;
}

html, body {
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI';
}

.sidebar {
    height: 100%;
    float: left;
    width: 225px;
    background-color: #221a1a;
    color: white;
}

.sidebar2 {
    height: 100%;
    position: fixed;
}

.sidebarwrapper {
    height: 100%;
}

.sidebarcontent {
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
}

table.layout{
    width: 100%;
    height:100%;
    table-layout:fixed;
    border-spacing:0;
}
table.layout > tbody > tr > td {
    vertical-align:top;
    padding:0;
}

table.layout.horizontal > tbody > tr > td > :only-child{
    height:100%;
}
table.layout.vertical > tbody > tr > td > :only-child{
    height:100%;
}
