.body
{
    font-family:Arial;
}
.Template {
    display: none;
}

.TodoList {
    float:left;
    margin:5px;
}
.TodoList > .Name{
    border:none;
    font-size:18px;
}
.TodoItem > INPUT
{
    border:none;
}

.TodoItem.Done > INPUT
{
    text-decoration:line-through;
    color:gray;
    background-color:white;
}

.TodoItem.Selected
{
    outline:dotted 1px;
}

.TodoList.Selected
{
    outline:dotted 1px;
}