.Template {
    display: none;
}

.TodoList{
    float:left;
}
.TodoList > .Items{
    border:solid 1px Gray;
    border-radius:5px;
    padding:5px 10px;
    margin:5px;
}
.TodoList > .Name{
    border:none;
    font-size:18px;
    margin:0 10px;
}
.TodoItem > INPUT
{
    border:none;
}

.TodoItem.Done > INPUT
{
    text-decoration:line-through;
}

